@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .wrapper {
    width: 45vw;
    height: 45vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .sector {
    position: absolute;
    transform-origin: 100% 100%;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    border: 1px solid #fff;
    margin-top: -500px;
    margin-left: -500px;
  }
}
